{% load static %}
<section id="blog" class="blog-area pt-125">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center pb-25">
                        <h3 class="title mb-15">Conheça a opnião de nossos clientes</h3>
                        <p></p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">

                {% for c in clientes %}
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog mt-30">
                        <div class="blog-image">
                            <img src="{{ c.imagem.thumb.url }}" alt="Blog">
                        </div>
                    </div> <!-- single blog -->
                </div>
                {% endfor %}
            </div> <!-- row -->
        </div> <!-- container -->
    </section>