{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--====== HOME ======-->
{% include 'home.html' %}
<!--====== END HOME ======-->

<!--====== PRODUTOS ======-->
{% include 'produtos.html '%}
<!--====== END PRODUTOS ======-->

<!--====== SERVIÇOS ======-->
{% include 'servicos.html '%}
<!--====== END SERVIÇOS ======-->

<!--====== CLIENTES ======-->
{% include 'clientes.html' %}
<!--====== END CLIENTES ======-->

<!--====== CONTATOS ======-->
{% include 'contatos.html' %}
<!--====== END CONTATOS ======-->

<!--====== FOOTER ======-->
{% include 'footer.html' %}
<!--====== END FOOTER ======-->

{% endblock %}


